/.ipynb_checkpoints
/a.jpg
/capsolver.ipynb
/captcha
/captcha.png
/captchaimage.jpg
/combined_data.json
/DispplayCaptcha.png
/preprocessed_captcha.jpg
/sample .pdf
/table_data.json
/temp.py
/Untitled.ipynb
/verification.ipynb
/verification2.ipynb
/verificationV2.ipynb
/vrification.py